{% extends 'base.html' %} {% block title %}Crop Recommendation{% endblock title %} 

{% block content %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->

    <script src="https://kit.fontawesome.com/de6146db41.js" crossorigin="anonymous"></script>
    

    <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='img/logo.svg')}}" type="image/svg+xml">
    

</head>
<body style="margin-top: 100px;"></body>

<div class="row-sm p-sm-5">
    <div class="col-sm-12 p-sm-5">
        <p class="text-center">
            <h3 class="text-center">
                Crop Recommendation System
            </h3>
            <p class="text-center">
                The crop you should plant based on your data is - <h5 class="text-center" ><b style="color: blueviolet;">{{corrected_result}}</b></h5>
            </p>
        </p>
    </div>  
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
{% endblock content %}